
/* GENERAL */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

img{
    max-width: 100%;
}

.sony-buttons{
    border-radius: 40px;
}

h2{
    font-size: 2.5rem;
}

.grey-bold{
    color: grey;
    font-weight: bold;
}

:root {
    --button-orange: rgb(205,60,16);
    --sony-height: 30px;
    --navbar-height: 54px;
  }


/* HEADER */

#sony{
    background-color: black;
    color: white;
    height: var(--sony-height);
    width: 100%;
}

.navbar{
    background-color: white;
    width: 100%;
}

.sony-logo{
    height: 100%;
}

#lens{
    height: 30px;
}

.nav-link{
    position: relative;
}

.toggle-custom{
    background-image: url(../img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0;
    transform: translateY(60%);
}

.nav-link:hover .toggle-custom{
    background-image: url(../img/chevron-down-solid-hover.svg);
}



.nav-link:focus .toggle-custom{
    animation-name: toogle-rotation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes toogle-rotation {
    
      100% {
        transform: rotate(180deg) translateY(-60%);
      }
    
}

/* MAIN */

/* JUMBO */

.jumbo-returnal{
    height: 80vh;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbo-returnal div{
    color: white;
}

.returnal-hero-banner{
    height: 40px;
    margin-bottom: 20px;
}

.jumbo-returnal button{
    background-color: var(--button-orange);
}

/* CARDS */

/* PRESENTATION OF PS5 */

.presentation span{
    color: rgb(93,160,222);
}


/* JUMBO it-takes-two */

.jumbo-it-takes-two{
  
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbo-it-takes-two button{
    background-color: var(--button-orange);
}

.it-takes-two-banner{
    height: 150px;
}

.jumbo-it-takes-two div{
    color: white;
}

/* COMING OUT */

.coming-out{
    background-color: rgb(31,31,31);
    color: white;
}

/* EXPLORE PS4 */

.card-explore{
    line-height: 2rem;
}

/* PLAY STATION PLUS */

#ps-plus{
    background-color: rgb(190,188,187);
}

#ps-plus button{
    background-color: rgb(217,218,220);
}

/* DISCOUNT */

/* PLAY STATION NOW */

#ps-now{
    background-color: rgb(22,28,59);
    color: white;
}

/* SOCIAL MEDIA */

/* FOOTER */

footer{
    background-color: rgb(0,67,155);
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}


.fa-playstation{
    font-size: 5rem;
}

footer .col{
    flex-grow: 0;
}

.sie-logo{
    height: 50px;
}








