
/* GENERAL */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

img{
    max-width: 100%;
}






/* HEADER */

#sony{
    background-color: black;
    color: white;
}

/* MAIN */

/* JUMBO */

.jumbo-returnal{
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbo-returnal div{
    color: white;
}

.returnal-hero-banner{
    height: 50px;
    margin-bottom: 20px;
}

/* CARDS */

/* PRESENTATION OF PS5 */

/* JUMBO it-takes-two */

.jumbo-it-takes-two{
    height: 70vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.it-takes-two-banner{
    height: 200px;
    margin-bottom: 20px;
}

.jumbo-it-takes-two div{
    color: white;
}

/* COMING OUT */

.coming-out{
    background-color: rgb(31,31,31);
    color: white;
}

/* EXPLORE PS4 */





